* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3em;
}

/***************** HEADER ****************/

header, footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1em;
}

header {
    margin-bottom: 2em;
}

/***************** MAIN ****************/

main {
    width: 85%;
    margin: auto;
}

.content-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#errorMessage {
    color: #ff5151;
}

#sketch {
    border: 1px solid black;
    margin: auto;
}

/*****************FOOTER****************/

footer {
    margin-top: 2em;
    justify-self: flex-end;

}

footer a {
    color: yellow;
}